{% extends "base.html" %}
{% block content %}

    <div class="content-section">
        <form action="" method="POST" id="addShoppingListForm">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Add A New Shopping List
                </legend>

                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="Shopping-list-class">
                    {% for item in form.items %}
                        <div class="form-group">
                            {{ item }}
                            <button class="btn btn-outline-danger" type="button" id="removeItem-{{ item.id }}">Delete</button>
                            <div class="invalid-feedback">
                                {% for error in item.item_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <button type="button" id="addNewField">Add A New Item</button>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}